{% extends "encyclopedia/layout.html" %}
{% load static %}


{% block title %}
    Encyclopedia
{% endblock %}

             {% block body %}
              <h1 > Edit Page</h1>
                <form action="{%url 'editpage'%}" method="POST">
                 {% csrf_token %}
                <label class="ml-2" >Title:</label><br>
                <input type="text" disabled class="form-control" style="width: 96%;"  value="{{title}}" placeholder="Enter Title">
                <input type="hidden"  class="form-control" style="width: 96%;" name="inpt" value="{{title}}" placeholder="Enter Title">
                <label class="ml-1 mt-2"  >Content:</label><br>
                <textarea style="padding:1%;height: 60vh;width: 96%;overflow: auto;" rows="4" cols="5" placeholder="Enter Content" name="area">{{get}}</textarea>
                <button style="width:20%;"class="btn btn-primary">Save Changes</button>
                </form>
            {% endblock %}
